*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 100%;
  background-color: cadetblue;
}

.drag-zone {
  background-color: antiquewhite;
}

.drop-zone {
  background-color: brown;
  height: 100vh;
  width: 500px;
}

.drag-zone-elements{
  padding: 20px;
}

.form-elements {
  padding: 20px;
}